@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@1,200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat',sans-serif;
    background-color: #b8a994;
}
a{
    text-decoration: none;
   
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    }
    video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    p{
        color:white;
        text-align: left;
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
 .section-title{
        font-size: 4rem;
        font-weight: 300;
        color: black;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
    }
    
    .section-title span {
        color: crimson;
    }

#hi{
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: top center;
    background: relative;
    z-index: 1;
}

#hi::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hi .hi {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hi h1{
  display: block;
  width: fit-content;
font-size: 4rem;
position: relative;
color: white;
  text-shadow: 2px 2px 4px #000000;

}
#hi .cta{
    display: inline-block;
    padding: 10px 30px ;
    color: black;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hi .cta:hover {
    color: white;
    background-color: crimson;
}
 ul{
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    margin-top: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;

    
}


#services .services{
flex-direction: column;
text-align: center;
max-width: 1500px;
margin: 0 auto;
padding: 100px 0;;
}

#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}
#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/card.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
  z-index: -1;
}
#services .service-bottom  .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2{
    font-size: 2rem;
    color:white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;

}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
}
